@model SmartFleet.ViewModel.ChangePasswordViewModel

@{
    ViewData["Title"] = "Change Password";
}
<head>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/pages/account/changePassword.css">
    
</head>
<div class="edit-layout-container">
    <div class="edit-form-wrapper">
        <a asp-action="MyAccount" class="btn-secondary">
            <i class="fas fa-arrow-left"></i> Back
        </a>
        <h1 class="edit-heading">Change Password</h1>
        <form asp-action="ChangePassword" method="post" class="edit-custom-form">
            <div class="edit-input-group">
                <label class="edit-input-label">Old Password</label>
                <input asp-for="OldPassword" type="password" class="edit-input-field" />
        </div>

            <div class="edit-input-group">
                <label class="edit-input-label">New Password</label>
                <input asp-for="NewPassword" type="password" class="edit-input-field" />
        </div>

            <div class="edit-input-group">
                <label class="edit-input-label">Confirm Password</label>
                <input asp-for="ConfirmPassword" type="password" class="edit-input-field" />
        </div>

            <button type="submit" class="edit-primary-button">Update Password</button>
    </form>
</div>
</div>