@model SmartFleet.ViewModel.LoginViewModel

@{
    ViewData["Title"] = "Login";
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/lib/fontawesome/all.css">
    <link rel="stylesheet" href="~/css/pages/account/login.css">
    
   
</head>
<body>

    <img src="~/assets/images/logos/logo-aun.png" class=" logo-assiut" />

    <div class="login-container">
        <h1>Login</h1>
        <form asp-action="SaveLogin" method="post">
            <div asp-validation-summary="All" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="Email"></label>
                <div class="input-group">
                    <i class="fa fa-envelope"></i>
                    <input asp-for="Email" class="form-control" placeholder="Enter your email" />
                </div>
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>

                <div class="form-group">
                    <label asp-for="Password"></label>
                    <div class="input-group">
                        <i class="fa fa-lock"></i>
                        <input asp-for="Password" type="password" class="form-control" placeholder="Enter your password" />
                    </div>
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>

       @*      <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="RememberMe" /> @Html.DisplayNameFor(model => model.RememberMe)
                </label>
            </div> *@

            <button type="submit" class="btn-login">Login</button>
        </form>
        Don't have account?
        <a asp-controller="Account" asp-action="Register" class="back-link">Register</a> 
        or
        <a asp-controller="Home" asp-action="Index" class="back-link">Continue as a guest</a>

    </div>

    @section Scripts {
        @{
            await Html.RenderPartialAsync("_ValidationScriptsPartial");
        }
    }

</body>
</html>
