# Build results
bin/
obj/
*.dll
*.exe
*.app
*.log

# Rider-specific
.idea/
*.sln.iml

# VS-specific (if team uses it)
*.suo
*.user
*.userosscache
*.sln.docstates


# Publish outputs
*.Publish.xml

# OS files
.DS_Store
Thumbs.db

# Others
*.vsix
*.zip
*.tar.gz
*.tar
*.gz
*.7z
*.rar
