* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 105vh;
    background-image: url("/assets/images/backgrounds/assiut1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.logo-assiut {
    position: absolute;
    top: 20px;
    left: 20px;
    background-color: #fff;
}



.login-container {
    width: 100%;
    max-width: 400px;
    margin: 80px auto;
    padding: 30px;
    background: rgba(255,255,255,0.9);
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

    .login-container h1 {
        font-size: 24px;
        margin-bottom: 20px;
        color: #20B2AA;
    }

.form-group {
    text-align: left;
    margin-bottom: 15px;
}

    .form-group label {
        font-weight: bold;
        color: #333;
    }

.input-group {
    position: relative;
}

    .input-group input {
        width: 100%;
        padding: 10px 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        font-size: 16px;
    }

    .input-group .fa {
        position: absolute;
        right: 10px;
        top: 50%;
        transform: translateY(-50%);
        color: #20B2AA;
    }

.text-danger {
    font-size: 14px;
    margin-top: 5px;
}

.form-check {
    margin-bottom: 15px;
}

.btn-login {
    width: 100%;
    padding: 10px;
    background: #20B2AA;
    border: none;
    color: white;
    font-size: 16px;
    border-radius: 5px;
    transition: 0.3s;
}

    .btn-login:hover {
        background: #00796b;
    }

.back-link {
    display: inline-block;
    margin-top: 15px;
    color: #20B2AA;
    font-size: 16px;
    text-decoration: none;
}

    .back-link:hover {
        text-decoration: underline;
        color: #00796b;
    }

.text-danger {
    color: red;
}

ul {
    list-style-type: none;
}
