@model SmartFleet.ViewModel.RoleViewModel

@{
    ViewData["Title"] = "AddRole";
    bool? check = ViewBag.success as bool?;

}

<h1>AddRole</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="SaveRole" method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="RoleName" class="control-label"></label>
                <input asp-for="RoleName" class="form-control" />
                <span asp-validation-for="RoleName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Add" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<span>
    @if (check == true)
    {
        <h3>The role was successfully added</h3>
    }
</span>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
